<br><br>
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
  <%= f.input :email %>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Instructies sturen</button>
  </div>
<% end %>
<br><br><br><br>