<% content_for :custom_class do %>home<% end %>

<div class="mobile-holder-buttons">
  <a href="/instituties/student" class="btn btn-primary">Studenten</a>
  <a href="/instituties/scholier" class="btn btn-primary">Scholieren</a>
</div>


<div class="row-fluid" style="margin-top:10px;">
  <div class="span6">
    <h1>Slagingsgarantie</h1>
    <p class="slagings-p">StudySquare heeft het hoogste slagingspercentage van Nederland met betrekking tot studiebegeleiding.<br>
      Om dit succes te delen, geven wij een slagingsgarantie. Deze garantie houdt in dat als een student na het volgen van een meerweekse- of stoomcursus bij StudySquare zijn tentamen alsnog niet haalt, hij of zijn kosteloos de superstoomcursus voor het hertentamen mag bijwonen.
    </p>
  </div>
  <div class="span6">
    <h1>Vacatures</h1>
      <p class="vacature-p"><strong>Cursusmanager Vacature - HBO / WO</strong><br>
      Als Cursusmanager ben je verantwoordelijk voor het organiseren van de StudySquare cursussen voor de struikelvakken van jouw opleiding/faculteit. Dit omvat voornamelijk het zelfstandig werven.. <a href="/vacatures">Lees meer</a>
      </p>
    
    <a class="btn btn-white" href="/vacatures">Meer vacatures</a>
  </div>
</div>

</div>

<div class="testimonials">
  <div class="container">
    
<!--
    <h1>Testimonials</h1>
    
    <div class="row-fluid">
      <div class="span4">
        <p class="single-testimonial">“Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.”</p>
        <p>
          Mariska Selbach
          <span><br>3e jaars Psychologie, Universiteit van Amsterdam</span>
        </p>
      </div>
      
      <div class="span4">
        <p class="single-testimonial">“Pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut.”</p>
        <p>
          Hasher Marouf
          <span><br>2e jaars Rechten, Universiteit Leiden</span>
        </p>
      </div>
      
      <div class="span4">
        <p class="single-testimonial">“Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae”</p>
        <p>
          Ben van Kessel
          <span><br>6 VWO, Hervormd Lyceum Zuid</span>
        </p>
      </div>
    </div>
-->

    <h1>Over studysQuare</h1>
    
    <div class="row-fluid">
      <div class="span10 offset1">
        <p style="text-align:center; font-weight:normal;">
          StudySquare is een organisatie die tentamentrainingen organiseert voor studenten van zowel HBO als WO. Daarnaast organiseren we voor middelbare scholen toetsweektrainingen en examentrainingen. Wij helpen studenten en scholieren door op een structurele en overzichtelijke manier de lesstof door te nemen en richten ons hierbij alleen op de stof die relevant is voor het behalen van je tentamen of toets.<br><br>Onze lessen worden verzorgd door tutoren die aan de hand van een strenge selectieprocedure worden aangesteld. Bij onze training krijg je een syllabus waarin alle theorie en oefenopdrachten staan. We hebben verschillende soorten trainingen, bekijk ons aanbod om te bepalen welke training het beste bij jou past. 
        </p>
      </div>
    </div>
    
  </div>
</div>

<div class="container main-container">

  <ul class="universiteiten clearfix">
    <li class="single-uni uni-uva"><a class="main-item" href="/instituties/2-uva/faculteiten"></a></li>
    <li class="single-uni uni-vu"><a class="main-item" href="/instituties/1-vu/faculteiten"></a></li>
    <li class="single-uni uni-uu"><a class="main-item" href="/instituties/3-uu/faculteiten"></a></li>
    <li class="single-uni uni-ul"><a class="main-item" href="/instituties/7-ul/faculteiten"></a></li>
    <li class="single-uni uni-eur"><a class="main-item" href="/instituties/4-eur/faculteiten"></a></li>
    <li class="single-uni uni-hva"><a class="main-item" href="/instituties/6-hva/faculteiten"></a></li>
    <li class="single-uni uni-hlz"><a class="main-item" href="/instituties/8-hlz/faculteiten"></a></li>
    <li class="single-uni uni-spi"><a class="main-item" href="instituties/9-spinoza/faculteiten"></a></li>
  </ul>
