<% title "Vacatures" %>
<br>

<div class="row-fluid">
  <div class="span6">
    <h1>HBO - WO</h1>
    <div class="accordion" id="vacature-acc">
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle btn btn-primary" data-toggle="collapse" data-parent="#vacature-acc" href="#vacOne">
            Tutor Vacature - HBO / WO
          </a>
        </div>
        <div id="vacOne" class="accordion-body collapse">
          <div class="accordion-inner">
            <center><h1>Tutor Vacature</h1></center>
            <br/>
            <p>Heb je ervaring met lesgeven, blink je uit in een bepaald vak en wil jij het StudySquare team versterken? Neem dan contact op met ons via <a href="mailto:info@studysquare.nl">info@studysquare.nl</a>.<br><br>
        
            Stuur je motivatie en CV mee en wie weet jij ben jij straks tutor bij StudySquare.
            <br><br>
            Voor de volgende opleidingen zijn wij altijd op zoek naar nieuwe leerkrachten:<br>
            -	Economie: vakken zoals wiskunde, statistiek, accounting en filosofie.<br>
            -	Rechten: vakken zoals goederenrechten, strafrecht en bestuursrecht.<br>
            -	Geneeskunde: vrijwel alle vakken<br>
            -	Sociale en psychologische opleidingen: vakken zoals onderzoeksmethode en statistiek<br>
            <br>
            Wij zijn in de volgende steden actief: Amsterdam, Utrecht, Groningen, Leiden en Rotterdam.    
            </p>
          </div>
        </div>
      </div><!-- end group -->
        
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle btn btn-primary" data-toggle="collapse" data-parent="#vacature-acc" href="#vacTwo">
            Cursusmanager Vacature - HBO / WO
          </a>
        </div>
        <div id="vacTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <center><h1>Cursusmanager Vacature - HBO / WO</h1></center>
            <br>
            <p>
              Ben jij op zoek naar een uitdagende bijbaan waarin je naast je studie je managementvaardigheden en organisatietalent kunt laten zien en je verder kunt ontwikkelen? Een baan met vrijheid, verantwoordelijkheid en de kans om leiding te geven aan een team enthousiaste studentdocenten? Dan heeft StudySquare de ideale baan voor jou! 
            <br><br>
            <strong>Functieomschrijving</strong>
            Als Cursusmanager ben je verantwoordelijk voor het organiseren van de StudySquare cursussen voor de struikelvakken van jouw opleiding/facultiet. Dit omvat voornamelijk het zelfstandig werven, selecteren en aansturen van repetitoren, het organiseren van promotie om naamsbekendheid te creëren voor de cursussen, het inplannen van de cursussen en het contact met de klanten. 
            <br><br>
            Daarnaast ben je verantwoordelijk voor de kwaliteit van de cursussen en van het proces als geheel. Je zorgt ervoor dat de student-docenten hun taken goed uitoefenen en hun lessen goed voorbereiden. Voor hen ben je het eerste aanspreekpunt bij vragen en praktische zaken.
            <br><br>
            <strong>Wie zoeken wij?</strong>
            StudySquare is per direct op zoek naar nieuwe Cursusmanagers in verband met de voorbereidingen op het nieuwe collegejaar. Wij zoeken een student van de ondergenoemde opleidingen/faculteiten die stevig in zijn/haar schoenen staat en van aanpakken weet. Gedurende het collegejaar heb je voldoende tijd (5 tot 10 uur per week) over om jouw functie tot een succes te maken. Je bent zelfstandig, resultaatgericht en ondernemend. Dit laat je ook terugkomen in de aansturing van de repetitoren. Uiteraard beschik je over een goede kennis van de studentenwereld in de betreffende stad en heb je een groot netwerk. 
            <br><br>
            Amsterdam<br/> 
            VU: Geneeskunde en Rechten<br/>
            UvA: Geneeskunde<br/>
            HvA: Commerciële Economie, Bedrijfseconomie, MER, Recht en Toegepaste Psychologie
            <br><br>
            Utrecht<br/> 
            UU: Economie, Psychologie en Geneeskunde
            <br><br>
            Rotterdam <br/> 
            EUR: Bedrijfskunde, IBA, Rechten, Psychologie en Geneeskunde <br/> 
            <br/> 
            Leiden <br/> 
            UL: Rechten, Geneeskunde en Psychologie <br/> 
            <br/> 
            Nijmegen<br/> 
            RU: Bedrijfskunde, Rechten en Psychologie<br/> 
            <br/> 
            Maastricht<br/> 
            MU: Economie en Bedrijfseconomie, Rechten en Psychologie
            <br/><br/> 
        
            <strong>Wat bieden wij?</strong>
            De functie van Cursusmanager is een functie waarin je ontzettend veel kunt leren en is daarom een duidelijk pluspunt op je CV. Wij bieden een gezellige en dynamische werksfeer waarin je veel ruimte krijgt om zelfstandig te ondernemen en tegelijkertijd altijd de steun hebt vanuit de organisatie om op terug te vallen. Je krijgt een omzet gerelateerde bonus die hoog kan oplopen per cursusperiode. Daarnaast ben je vrij om je uren in te delen en is de functie dus goed te combineren met je studie. 
            <br><br>
            <strong>Neem contact met ons op!</strong>
            Wil je na het lezen van deze informatie solliciteren, of wil je meer informatie over de functie, de sollicitatieprocedure of over StudySquare, mail dan naar Marlon Sarra via <a href="mailto:marlon@studysquare.nl">marlon@studysquare.nl</a>. De sollicitatieprocedure zal bestaan uit maximaal twee korte gesprekjes. Motivatie en cv kunnen als bijlage van een e-mail worden verzonden naar <a href="mailto:marlon@studysquare.nl">marlon@studysquare.nl</a>.
            <br><br>
            Ken jij een medestudent die wellicht geschikt is, stel hem op de hoogte!
            </p>
          </div>
        </div>
      </div><!-- end group -->
    </div>
  </div>
  <div class="span6">
    <h1>Middelbare School</h1>
    <div class="accordion" id="vacature-acc2">

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle btn btn-primary" data-toggle="collapse" data-parent="#vacature-acc2" href="#vacThree">
            Bijles Vacature - Middelbare School
          </a>
        </div>
        <div id="vacThree" class="accordion-body collapse">
          <div class="accordion-inner">
            <center><h1>Bijles Vacature</h1></center>
            <br/>
            <p>
              Heb je ervaring met lesgeven, blink je uit in een bepaald vak en wil jij het StudySquare team versterken? Neem dan contact op met ons via info@studysquare.nl.
              <br><br>
              Stuur je motivatie en CV mee en wie weet jij ben jij straks tutor bij StudySquare. 
              <br><br>
              Voor de volgende vakken zijn wij altijd op zoek naar nieuwe leerkrachten:<br>
              -	Wiskunde A en B<br>
              -	Economie<br>
              -	M&O<br>
              -	Engels <br>
              -	Nederlands<br>
              -	Scheikunde<br>
              - Natuurkunde<br>
              <br>
              Wij zijn met bijlessen voor middelbaar onderwijs vooraal actief in de regio Amsterdam
            </p>
          </div>
        </div>
      </div><!-- end group -->
    
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle btn btn-primary" data-toggle="collapse" data-parent="#vacature-acc2" href="#vacFour">
            Cursusmanager Vacature - Middelbare School
          </a>
        </div>
        <div id="vacFour" class="accordion-body collapse">
          <div class="accordion-inner">
            <center><h1>Cursusmanager Vacature - Middelbare School</h1></center>
            <br>
            <p>
            Ben jij op zoek naar een uitdagende bijbaan waarin je naast je school je managementvaardigheden en organisatietalent kunt laten zien en je verder kunt ontwikkelen? Een baan met vrijheid, verantwoordelijkheid en de kans om leiding te geven aan een team enthousiaste studentdocenten? Dan heeft StudySquare de ideale baan voor jou! 
            <br><br>
            <strong>Functieomschrijving</strong> 
            Als Cursusmanager ben je verantwoordelijk voor het organiseren van de StudySquare cursussen voor de struikelvakken van jouw school. Dit omvat voornamelijk het zelfstandig werven, selecteren en aansturen van tutoren, het organiseren van promotie om naamsbekendheid te creëren voor de cursussen, het inplannen van de cursussen en het contact met de klanten/scholieren. 
            <br><br>
            Daarnaast ben je verantwoordelijk voor de kwaliteit van de cursussen en van het proces als geheel. Je zorgt ervoor dat de tutoren hun taken goed uitoefenen en hun lessen goed voorbereiden. Voor hen ben je het eerste aanspreekpunt bij vragen en praktische zaken. 
            <br><br>
            Wie zoeken wij? StudySquare is per direct op zoek naar nieuwe Cursusmanagers voor alle scholen in de regio Amsterdam. Wij zoeken een scholier die stevig in zijn/haar schoenen staat en van aanpakken weet. Gedurende het schooljaar heb je voldoende tijd (5 tot 10 uur per week) over om jouw functie tot een succes te maken. Je bent zelfstandig, resultaatgericht en ondernemend. Dit laat je ook terugkomen in de aansturing van de repetitoren. Uiteraard beschik je over een goed netwerk binnen de school.
            <br><br>
            Wat bieden wij? De functie van Cursusmanager is een functie waarin je ontzettend veel kunt leren en is daarom een duidelijk pluspunt op je CV. Wij bieden een gezellige en dynamische werksfeer waarin je veel ruimte krijgt om zelfstandig te ondernemen en tegelijkertijd altijd de steun hebt vanuit de organisatie om op terug te vallen. Je krijgt een omzet gerelateerde bonus die hoog kan oplopen per cursusperiode. Daarnaast ben je vrij om je uren in te delen en is de functie dus goed te combineren met je studie. 
            <br><br>
            Neem contact met ons op! Wil je na het lezen van deze informatie solliciteren, of wil je meer informatie over de functie, de sollicitatieprocedure of over StudySquare, mail dan naar Marlon Sarra via <a href="mailto:marlon@studysquare.nl">marlon@studysquare.nl</a>. De sollicitatieprocedure zal bestaan uit maximaal twee korte gesprekjes. Motivatie en cv kunnen als bijlage van een e-mail worden verzonden naar <a href="mailto:marlon@studysquare.nl">marlon@studysquare.nl</a>. 
            </p>
          </div>
        </div>
      </div><!-- end group -->
      
    </div>
  </div>
</div>