<% title "Veelgestelde vragen" %>

<center><h1>Veelgestelde vragen</h1></center>
<br/>
<div class="row-fluid">
  <div class="span6">
    
    <div class="accordion" id="accordion2">
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#1">
            Hoe weet ik waar ik les heb?
          </a>
        </div>
        <div id="1" class="accordion-body collapse">
          <div class="accordion-inner">
            Wanneer je bent aangemeld voor een van onze cursussen, zie je na het inloggen op de website de bijbehorende locatie in ‘Mijn Rooster’.
          </div>
        </div>
      </div>
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#2">
            Waar vindt mijn cursus plaats?
          </a>
        </div>
        <div id="2" class="accordion-body collapse">
          <div class="accordion-inner">
            De meeste cursussen vinden plaats in de faculteitsgebouwen van de betreffende universiteit. 
          </div>
        </div>
      </div>
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#3">
            Waarom zou ik voor StudySquare kiezen?
          </a>
        </div>
        <div id="3" class="accordion-body collapse">
          <div class="accordion-inner">
            StudySquare biedt een zeer compleet lespakket aan, waarbij je wordt ondersteund door de beste tutoren. Daarnaast heeft StudySquare een slagingspercentage van maar liefst 83%. Tot slot hanteren wij de zogeheten slagingsgarantie: mocht je wel een cursus gevolgd hebben, maar het tentamen voor dat betreffende vak niet gehaald hebben, dan kun je kosteloos meedoen aan de superstoomcursus van de herkansing. 
          </div>
        </div>
      </div>
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#4">
            Wat voor lesmateriaal is er bij de cursus inbegrepen?
          </a>
        </div>
        <div id="4" class="accordion-body collapse">
          <div class="accordion-inner">
            Je krijgt van StudySquare bij de cursus een syllabus en een StudySquare pen.
          </div>
        </div>
      </div>
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#5">
            Hoelang duurt een cursus?
          </a>
        </div>
        <div id="5" class="accordion-body collapse">
          <div class="accordion-inner">
            Over het algemeen duurt een 2/3/4 Weekse cursus en Stoomcursus 9 of 12 uur, dat is afhankelijk van de moeilijkheidsgraad van het betreffende vak. Deze uren zijn meestal verdeeld over 3 of meer sessies. De SuperStoom is in 1 sessie van 6 of 8 uur. 
          </div>
        </div>
      </div>
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#6">
            Hoeveel mensen zitten er in een cursusgroep
          </a>
        </div>
        <div id="6" class="accordion-body collapse">
          <div class="accordion-inner">
            De cursusgroepen bestaan uit 5 tot maximaal 16 personen. Bij de SuperStoom kan het maximum aantal personen oplopen. 
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="span6">
    <div class="accordion" id="accordion3">
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#7">
            Kan ik op een reservelijst komen als de cursussen vol zijn?
          </a>
        </div>
        <div id="7" class="accordion-body collapse">
          <div class="accordion-inner">
            Ja dat kan, mail daarvoor naar de betreffende manager van jouw faculteit. Zie <a href="/contact">Contact</a>. Vermeld hierbij om welke cursus het gaat.
          </div>
        </div>
      </div>
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#9">
            Worden er ook cursussen voor de herkansingen gegeven?
          </a>
        </div>
        <div id="9" class="accordion-body collapse">
          <div class="accordion-inner">
            Ja, ook voor de herkansingen organiseert StudySquare cursussen.
          </div>
        </div>
      </div>
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#10">
            Kan ik ook persoonlijk / individueel bijles krijgen?
          </a>
        </div>
        <div id="10" class="accordion-body collapse">
          <div class="accordion-inner">
            Individuele les is niet mogelijk. Kleine privé groepen zijn wel mogelijk, mail naar <a href="mailto:info@studysquare.nl">info@studysquare.nl</a>. 
          </div>
        </div>
      </div>
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#11">
            Is het erg als ik een les mis?
          </a>
        </div>
        <div id="11" class="accordion-body collapse">
          <div class="accordion-inner">
            Elke les is essentieel, mocht je van tevoren weten dat je een les niet kunt volgen, mail dan naar <a href="mailto:info@studysquare.nl">info@studysquare.nl</a> dan kunnen wij je wellicht nog in een andere groep indelen. 
          </div>
        </div>
      </div>
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#12">
            Kan ik mij inschrijven voor een cursus die al begonnen is?
          </a>
        </div>
        <div id="12" class="accordion-body collapse">
          <div class="accordion-inner">
            Dat is mogelijk. Houdt er wel rekening mee dat je waarschijnlijk een essentieel deel van de lesstof mist. 
          </div>
        </div>
      </div>
      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#13">
            Ik wil graag een cursus volgen, maar mijn vak staat er niet tussen. Kan ik een aanvraag doen?
          </a>
        </div>
        <div id="13" class="accordion-body collapse">
          <div class="accordion-inner">
            Indien je graag een cursus zou willen volgen, maar wij de cursus nog niet aanbieden, mail dan zo snel mogelijk naar <a href="mailto:info@studysquare.nl">info@studysquare.nl</a> dan zullen wij de mogelijkheden bekijken. 
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>
