<p>Beste <%= @resource.email %>,</p>

<p>Iemand heeft verzocht om je wachtwoord te veranderen. Dit kan je doen via de link hieronder.</p>

<p><%= link_to 'Wachtwoord veranderen', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Als je dit niet hebt gedaan, dan kan je deze e-mail negeren.</p>
<p>Je wachtwoord zal niet veranderen als je niet naar de bovenstaande link gaat.</p>
